[
<<"药品商人">>,
<<"管理员">>,
<<"藏域">>,
<<"飘渺雪域">>,
<<"系统">>,
<<"公告">>,
<<"消息">>,
<<"通知">>,
<<"活动">>,
<<"奖励">>,
<<"藏族">>,
<<"种族">>,
<<"民族">>,
<<"达赖">>,
<<"班禅">>,
<<"活佛">>,
<<"客服">>,
<<"火噬">>,
<<"雷罚">>,
<<"吸灵">>,
<<"风翔">>,
<<"火山熔岩">>,
<<"生命虹吸">>,
<<"冰魄寒光">>,
<<"神光祈祷">>,
<<"灵魂风暴">>,
<<"惩戒">>,
<<"奔雷箭">>,
<<"缠影箭">>,
<<"迅捷之手">>,
<<"疾风迅影">>,
<<"荆棘箭">>,
<<"弦断弓破">>,
<<"爆裂箭">>,
<<"残影步">>,
<<"八荒诛魔箭">>,
<<"穿云箭">>,
<<"破灭斩">>,
<<"怒意咆哮">>,
<<"野蛮冲击">>,
<<"无畏呐喊">>,
<<"霸斩">>,
<<"春秋斩">>,
<<"刀刃护体">>,
<<"不屈战魂">>,
<<"诸天生死轮">>,
<<"无华斩">>,
<<"暮日村">>,
<<"荒郊野外">>,
<<"飞瀑岭">>,
<<"甲玛王城">>,
<<"藏珍阁">>,
<<"讲经堂">>,
<<"军事区帐篷">>,
<<"长老院">>,
<<"吉祥客栈">>,
<<"密修室">>,
<<"落草道">>,
<<"隆梅">>,
<<"狱海洞穴">>,
<<"贵族酒窖">>,
<<"桑多">>,
<<"山猴洞">>,
<<"花妖洞">>,
<<"雪山神殿">>,
<<"纳木错神台">>,
<<"碧宛平原">>,
<<"擎川山脉">>,
<<"绿林山地">>,
<<"棱光平原">>,
<<"陨神岭">>,
<<"万魔窖">>,
<<"罪恶山谷">>,
<<"曲布镇">>,
<<"煤山洞穴">>,
<<"东林丘">>,
<<"竞技场">>,
<<"四圣谷">>,
<<"轮回地宫">>,
<<"拉萨城">>,
<<"措美镇">>,
<<"拉萨草原">>,
<<"多隆的王座">>,
<<"蛮王洞">>,
<<"劣质凌云刀">>,
<<"优良凌云刀">>,
<<"精致凌云刀">>,
<<"史诗凌云刀">>,
<<"神器凌云刀">>,
<<"劣质凌云盾">>,
<<"优良凌云盾">>,
<<"精致凌云盾">>,
<<"史诗凌云盾">>,
<<"神器凌云盾">>,
<<"劣质凌云弓">>,
<<"优良凌云弓">>,
<<"精致凌云弓">>,
<<"史诗凌云弓">>,
<<"神器凌云弓">>,
<<"劣质凌云箭">>,
<<"优良凌云箭">>,
<<"精致凌云箭">>,
<<"史诗凌云箭">>,
<<"神器凌云箭">>,
<<"劣质凌云法杖">>,
<<"优良凌云法杖">>,
<<"精致凌云法杖">>,
<<"史诗凌云法杖">>,
<<"神器凌云法杖">>,
<<"劣质凌云号角">>,
<<"优良凌云号角">>,
<<"精致凌云号角">>,
<<"史诗凌云号角">>,
<<"神器凌云号角">>,
<<"劣质凌云头盔">>,
<<"优良凌云头盔">>,
<<"精致凌云头盔">>,
<<"史诗凌云头盔">>,
<<"神器凌云头盔">>,
<<"劣质凌云肩甲">>,
<<"优良凌云肩甲">>,
<<"精致凌云肩甲">>,
<<"史诗凌云肩甲">>,
<<"神器凌云肩甲">>,
<<"劣质凌云项链">>,
<<"优良凌云项链">>,
<<"精致凌云项链">>,
<<"史诗凌云项链">>,
<<"神器凌云项链">>,
<<"劣质凌云胸甲">>,
<<"优良凌云胸甲">>,
<<"精致凌云胸甲">>,
<<"史诗凌云胸甲">>,
<<"神器凌云胸甲">>,
<<"劣质凌云手镯">>,
<<"优良凌云手镯">>,
<<"精致凌云手镯">>,
<<"史诗凌云手镯">>,
<<"神器凌云手镯">>,
<<"劣质凌云护手">>,
<<"优良凌云护手">>,
<<"精致凌云护手">>,
<<"史诗凌云护手">>,
<<"神器凌云护手">>,
<<"劣质凌云戒指">>,
<<"优良凌云戒指">>,
<<"精致凌云戒指">>,
<<"史诗凌云戒指">>,
<<"神器凌云戒指">>,
<<"劣质凌云腰带">>,
<<"优良凌云腰带">>,
<<"精致凌云腰带">>,
<<"史诗凌云腰带">>,
<<"神器凌云腰带">>,
<<"劣质凌云战靴">>,
<<"优良凌云战靴">>,
<<"精致凌云战靴">>,
<<"史诗凌云战靴">>,
<<"神器凌云战靴">>,
<<"劣质凝霜刀">>,
<<"优良凝霜刀">>,
<<"精致凝霜刀">>,
<<"史诗凝霜刀">>,
<<"神器凝霜刀">>,
<<"劣质凝霜盾">>,
<<"优良凝霜盾">>,
<<"精致凝霜盾">>,
<<"史诗凝霜盾">>,
<<"神器凝霜盾">>,
<<"劣质凝霜弓">>,
<<"优良凝霜弓">>,
<<"精致凝霜弓">>,
<<"史诗凝霜弓">>,
<<"神器凝霜弓">>,
<<"劣质凝霜箭">>,
<<"优良凝霜箭">>,
<<"精致凝霜箭">>,
<<"史诗凝霜箭">>,
<<"神器凝霜箭">>,
<<"劣质凝霜法杖">>,
<<"优良凝霜法杖">>,
<<"精致凝霜法杖">>,
<<"史诗凝霜法杖">>,
<<"神器凝霜法杖">>,
<<"劣质凝霜号角">>,
<<"优良凝霜号角">>,
<<"精致凝霜号角">>,
<<"史诗凝霜号角">>,
<<"神器凝霜号角">>,
<<"劣质凝霜头盔">>,
<<"优良凝霜头盔">>,
<<"精致凝霜头盔">>,
<<"史诗凝霜头盔">>,
<<"神器凝霜头盔">>,
<<"劣质凝霜肩甲">>,
<<"优良凝霜肩甲">>,
<<"精致凝霜肩甲">>,
<<"史诗凝霜肩甲">>,
<<"神器凝霜肩甲">>,
<<"劣质凝霜项链">>,
<<"优良凝霜项链">>,
<<"精致凝霜项链">>,
<<"史诗凝霜项链">>,
<<"神器凝霜项链">>,
<<"劣质凝霜胸甲">>,
<<"优良凝霜胸甲">>,
<<"精致凝霜胸甲">>,
<<"史诗凝霜胸甲">>,
<<"神器凝霜胸甲">>,
<<"劣质凝霜手镯">>,
<<"优良凝霜手镯">>,
<<"精致凝霜手镯">>,
<<"史诗凝霜手镯">>,
<<"神器凝霜手镯">>,
<<"劣质凝霜护手">>,
<<"优良凝霜护手">>,
<<"精致凝霜护手">>,
<<"史诗凝霜护手">>,
<<"神器凝霜护手">>,
<<"劣质凝霜戒指">>,
<<"优良凝霜戒指">>,
<<"精致凝霜戒指">>,
<<"史诗凝霜戒指">>,
<<"神器凝霜戒指">>,
<<"劣质凝霜腰带">>,
<<"优良凝霜腰带">>,
<<"精致凝霜腰带">>,
<<"史诗凝霜腰带">>,
<<"神器凝霜腰带">>,
<<"劣质凝霜战靴">>,
<<"优良凝霜战靴">>,
<<"精致凝霜战靴">>,
<<"史诗凝霜战靴">>,
<<"神器凝霜战靴">>,
<<"劣质光明刀">>,
<<"优良光明刀">>,
<<"精致光明刀">>,
<<"史诗光明刀">>,
<<"神器光明刀">>,
<<"劣质光明盾">>,
<<"优良光明盾">>,
<<"精致光明盾">>,
<<"史诗光明盾">>,
<<"神器光明盾">>,
<<"劣质光明弓">>,
<<"优良光明弓">>,
<<"精致光明弓">>,
<<"史诗光明弓">>,
<<"神器光明弓">>,
<<"劣质光明箭">>,
<<"优良光明箭">>,
<<"精致光明箭">>,
<<"史诗光明箭">>,
<<"神器光明箭">>,
<<"劣质光明法杖">>,
<<"优良光明法杖">>,
<<"精致光明法杖">>,
<<"史诗光明法杖">>,
<<"神器光明法杖">>,
<<"劣质光明号角">>,
<<"优良光明号角">>,
<<"精致光明号角">>,
<<"史诗光明号角">>,
<<"神器光明号角">>,
<<"劣质光明头盔">>,
<<"优良光明头盔">>,
<<"精致光明头盔">>,
<<"史诗光明头盔">>,
<<"神器光明头盔">>,
<<"劣质光明肩甲">>,
<<"优良光明肩甲">>,
<<"精致光明肩甲">>,
<<"史诗光明肩甲">>,
<<"神器光明肩甲">>,
<<"劣质光明项链">>,
<<"优良光明项链">>,
<<"精致光明项链">>,
<<"史诗光明项链">>,
<<"神器光明项链">>,
<<"劣质光明胸甲">>,
<<"优良光明胸甲">>,
<<"精致光明胸甲">>,
<<"史诗光明胸甲">>,
<<"神器光明胸甲">>,
<<"劣质光明手镯">>,
<<"优良光明手镯">>,
<<"精致光明手镯">>,
<<"史诗光明手镯">>,
<<"神器光明手镯">>,
<<"劣质光明护手">>,
<<"优良光明护手">>,
<<"精致光明护手">>,
<<"史诗光明护手">>,
<<"神器光明护手">>,
<<"劣质光明戒指">>,
<<"优良光明戒指">>,
<<"精致光明戒指">>,
<<"史诗光明戒指">>,
<<"神器光明戒指">>,
<<"劣质光明腰带">>,
<<"优良光明腰带">>,
<<"精致光明腰带">>,
<<"史诗光明腰带">>,
<<"神器光明腰带">>,
<<"劣质光明战靴">>,
<<"优良光明战靴">>,
<<"精致光明战靴">>,
<<"史诗光明战靴">>,
<<"神器光明战靴">>,
<<"劣质龙王刀">>,
<<"优良龙王刀">>,
<<"精致龙王刀">>,
<<"史诗龙王刀">>,
<<"神器龙王刀">>,
<<"劣质龙王盾">>,
<<"优良龙王盾">>,
<<"精致龙王盾">>,
<<"史诗龙王盾">>,
<<"神器龙王盾">>,
<<"劣质龙王弓">>,
<<"优良龙王弓">>,
<<"精致龙王弓">>,
<<"史诗龙王弓">>,
<<"神器龙王弓">>,
<<"劣质龙王箭">>,
<<"优良龙王箭">>,
<<"精致龙王箭">>,
<<"史诗龙王箭">>,
<<"神器龙王箭">>,
<<"劣质龙王法杖">>,
<<"优良龙王法杖">>,
<<"精致龙王法杖">>,
<<"史诗龙王法杖">>,
<<"神器龙王法杖">>,
<<"劣质龙王号角">>,
<<"优良龙王号角">>,
<<"精致龙王号角">>,
<<"史诗龙王号角">>,
<<"神器龙王号角">>,
<<"劣质龙王头盔">>,
<<"优良龙王头盔">>,
<<"精致龙王头盔">>,
<<"史诗龙王头盔">>,
<<"神器龙王头盔">>,
<<"劣质龙王肩甲">>,
<<"优良龙王肩甲">>,
<<"精致龙王肩甲">>,
<<"史诗龙王肩甲">>,
<<"神器龙王肩甲">>,
<<"劣质龙王项链">>,
<<"优良龙王项链">>,
<<"精致龙王项链">>,
<<"史诗龙王项链">>,
<<"神器龙王项链">>,
<<"劣质龙王胸甲">>,
<<"优良龙王胸甲">>,
<<"精致龙王胸甲">>,
<<"史诗龙王胸甲">>,
<<"神器龙王胸甲">>,
<<"劣质龙王手镯">>,
<<"优良龙王手镯">>,
<<"精致龙王手镯">>,
<<"史诗龙王手镯">>,
<<"神器龙王手镯">>,
<<"劣质龙王护手">>,
<<"优良龙王护手">>,
<<"精致龙王护手">>,
<<"史诗龙王护手">>,
<<"神器龙王护手">>,
<<"劣质龙王戒指">>,
<<"优良龙王戒指">>,
<<"精致龙王戒指">>,
<<"史诗龙王戒指">>,
<<"神器龙王戒指">>,
<<"劣质龙王腰带">>,
<<"优良龙王腰带">>,
<<"精致龙王腰带">>,
<<"史诗龙王腰带">>,
<<"神器龙王腰带">>,
<<"劣质龙王战靴">>,
<<"优良龙王战靴">>,
<<"精致龙王战靴">>,
<<"史诗龙王战靴">>,
<<"神器龙王战靴">>,
<<"劣质神恩刀">>,
<<"优良神恩刀">>,
<<"精致神恩刀">>,
<<"史诗神恩刀">>,
<<"神器神恩刀">>,
<<"劣质神恩盾">>,
<<"优良神恩盾">>,
<<"精致神恩盾">>,
<<"史诗神恩盾">>,
<<"神器神恩盾">>,
<<"劣质神恩弓">>,
<<"优良神恩弓">>,
<<"精致神恩弓">>,
<<"史诗神恩弓">>,
<<"神器神恩弓">>,
<<"劣质神恩箭">>,
<<"优良神恩箭">>,
<<"精致神恩箭">>,
<<"史诗神恩箭">>,
<<"神器神恩箭">>,
<<"劣质神恩法杖">>,
<<"优良神恩法杖">>,
<<"精致神恩法杖">>,
<<"史诗神恩法杖">>,
<<"神器神恩法杖">>,
<<"劣质神恩号角">>,
<<"优良神恩号角">>,
<<"精致神恩号角">>,
<<"史诗神恩号角">>,
<<"神器神恩号角">>,
<<"劣质神恩头盔">>,
<<"优良神恩头盔">>,
<<"精致神恩头盔">>,
<<"史诗神恩头盔">>,
<<"神器神恩头盔">>,
<<"劣质神恩肩甲">>,
<<"优良神恩肩甲">>,
<<"精致神恩肩甲">>,
<<"史诗神恩肩甲">>,
<<"神器神恩肩甲">>,
<<"劣质神恩项链">>,
<<"优良神恩项链">>,
<<"精致神恩项链">>,
<<"史诗神恩项链">>,
<<"神器神恩项链">>,
<<"劣质神恩胸甲">>,
<<"优良神恩胸甲">>,
<<"精致神恩胸甲">>,
<<"史诗神恩胸甲">>,
<<"神器神恩胸甲">>,
<<"劣质神恩手镯">>,
<<"优良神恩手镯">>,
<<"精致神恩手镯">>,
<<"史诗神恩手镯">>,
<<"神器神恩手镯">>,
<<"劣质神恩护手">>,
<<"优良神恩护手">>,
<<"精致神恩护手">>,
<<"史诗神恩护手">>,
<<"神器神恩护手">>,
<<"劣质神恩戒指">>,
<<"优良神恩戒指">>,
<<"精致神恩戒指">>,
<<"史诗神恩戒指">>,
<<"神器神恩戒指">>,
<<"劣质神恩腰带">>,
<<"优良神恩腰带">>,
<<"精致神恩腰带">>,
<<"史诗神恩腰带">>,
<<"神器神恩腰带">>,
<<"劣质神恩战靴">>,
<<"优良神恩战靴">>,
<<"精致神恩战靴">>,
<<"史诗神恩战靴">>,
<<"神器神恩战靴">>,
<<"劣质诛魔刀">>,
<<"优良诛魔刀">>,
<<"精致诛魔刀">>,
<<"史诗诛魔刀">>,
<<"神器诛魔刀">>,
<<"劣质诛魔盾">>,
<<"优良诛魔盾">>,
<<"精致诛魔盾">>,
<<"史诗诛魔盾">>,
<<"神器诛魔盾">>,
<<"劣质诛魔弓">>,
<<"优良诛魔弓">>,
<<"精致诛魔弓">>,
<<"史诗诛魔弓">>,
<<"神器诛魔弓">>,
<<"劣质诛魔箭">>,
<<"优良诛魔箭">>,
<<"精致诛魔箭">>,
<<"史诗诛魔箭">>,
<<"神器诛魔箭">>,
<<"劣质诛魔法杖">>,
<<"优良诛魔法杖">>,
<<"精致诛魔法杖">>,
<<"史诗诛魔法杖">>,
<<"神器诛魔法杖">>,
<<"劣质诛魔号角">>,
<<"优良诛魔号角">>,
<<"精致诛魔号角">>,
<<"史诗诛魔号角">>,
<<"神器诛魔号角">>,
<<"劣质诛魔头盔">>,
<<"优良诛魔头盔">>,
<<"精致诛魔头盔">>,
<<"史诗诛魔头盔">>,
<<"神器诛魔头盔">>,
<<"劣质诛魔肩甲">>,
<<"优良诛魔肩甲">>,
<<"精致诛魔肩甲">>,
<<"史诗诛魔肩甲">>,
<<"神器诛魔肩甲">>,
<<"劣质诛魔项链">>,
<<"优良诛魔项链">>,
<<"精致诛魔项链">>,
<<"史诗诛魔项链">>,
<<"神器诛魔项链">>,
<<"劣质诛魔胸甲">>,
<<"优良诛魔胸甲">>,
<<"精致诛魔胸甲">>,
<<"史诗诛魔胸甲">>,
<<"神器诛魔胸甲">>,
<<"劣质诛魔手镯">>,
<<"优良诛魔手镯">>,
<<"精致诛魔手镯">>,
<<"史诗诛魔手镯">>,
<<"神器诛魔手镯">>,
<<"劣质诛魔护手">>,
<<"优良诛魔护手">>,
<<"精致诛魔护手">>,
<<"史诗诛魔护手">>,
<<"神器诛魔护手">>,
<<"劣质诛魔戒指">>,
<<"优良诛魔戒指">>,
<<"精致诛魔戒指">>,
<<"史诗诛魔戒指">>,
<<"神器诛魔戒指">>,
<<"劣质诛魔腰带">>,
<<"优良诛魔腰带">>,
<<"精致诛魔腰带">>,
<<"史诗诛魔腰带">>,
<<"神器诛魔腰带">>,
<<"劣质诛魔战靴">>,
<<"优良诛魔战靴">>,
<<"精致诛魔战靴">>,
<<"史诗诛魔战靴">>,
<<"神器诛魔战靴">>,
<<"力量宝石">>,
<<"敏捷宝石">>,
<<"智力宝石">>,
<<"近攻宝石">>,
<<"远攻宝石">>,
<<"魔攻宝石">>,
<<"命中宝石">>,
<<"暴击宝石">>,
<<"暴伤宝石">>,
<<"体质宝石">>,
<<"近防宝石">>,
<<"远防宝石">>,
<<"魔防宝石">>,
<<"近免宝石">>,
<<"远免宝石">>,
<<"魔免宝石">>,
<<"闪避宝石">>,
<<"韧性宝石">>,
<<"初级活血露">>,
<<"中级活血露">>,
<<"高级活血露">>,
<<"特级活血露">>,
<<"顶级活血露">>,
<<"初级活法露">>,
<<"中级活法露">>,
<<"高级活法露">>,
<<"特级活法露">>,
<<"顶级活法露">>,
<<"初级回春丹">>,
<<"中级回春丹">>,
<<"高级回春丹">>,
<<"特级回春丹">>,
<<"顶级回春丹">>,
<<"初级回法丹">>,
<<"中级回法丹">>,
<<"高级回法丹">>,
<<"特级回法丹">>,
<<"顶级回法丹">>,
<<"初级升星石">>,
<<"中级升星石">>,
<<"高级升星石">>,
<<"初级升星符">>,
<<"中级升星符">>,
<<"高级升星符">>,
<<"初级打孔石">>,
<<"中级打孔石">>,
<<"高级打孔石">>,
<<"初级灵石">>,
<<"中级灵石">>,
<<"高级灵石">>,
<<"熔炼石">>,
<<"中级粘土">>,
<<"高级粘土">>,
<<"宝石拆解凿">>,
<<"小飞鞋">>,
<<"背包扩充囊">>,
<<"复活令牌">>,
<<"利川木">>,
<<"利川石">>,
<<"利川金">>,
<<"速工木">>,
<<"速工石">>,
<<"速工金">>,
<<"红牡丹">>,
<<"灯油">>,
<<"青稞酒">>,
<<"护卫徽章">>,
<<"千层糕">>,
<<"碳饼">>,
<<"盐巴">>,
<<"夜明珠">>,
<<"建帮令">>,
<<"土果">>,
<<"青果">>,
<<"鲜果">>,
<<"硕果">>,
<<"金果">>,
<<"神器诛魔刀">>,
<<"神器落日弓">>,
<<"神器补天杖">>,
<<"达摩诛魔刀">>,
<<"后羿落日弓">>,
<<"女娲补天杖">>,
<<"VIP">>,
<<"自动补血包">>,
<<"洗髓符">>,
<<"炼骨符">>,
<<"易筋符">>,
<<"洗髓保护符">>,
<<"炼骨保护符">>,
<<"易筋保护符">>,
<<"成长锁定符">>,
<<"初级经验果实">>,
<<"中级经验果实">>,
<<"高级经验果实">>,
<<"宠物改名卡">>,
<<"霜狼">>,
<<"鬼獒">>,
<<"雪獒">>,
<<"枭虎">>,
<<"云豹">>,
<<"麒麟">>,
<<"野兔">>,
<<"野狼">>,
<<"马贼">>,
<<"马贼头子">>,
<<"衣匣">>,
<<"磨刀石">>,
<<"破旧的靴子">>,
<<"胖家兔">>,
<<"村长多善茹杰">>,
<<"猎手朗噶">>,
<<"丹珠郎日">>,
<<"装备商人">>,
<<"药品商人">>,
<<"小精灵">>,
<<"山羊">>,
<<"头羊乔卡">>,
<<"通宝商铺老板">>,
<<"山豹">>,
<<"公鸡">>,
<<"家兔">>,
<<"山鸡">>,
<<"镜像武士">>,
<<"幻兽赤貔">>,
<<"夜明珠">>,
<<"废弃的碎片">>,
<<"路标一">>,
<<"路标二">>,
<<"路标三">>,
<<"林地地图">>,
<<"雪山地图">>,
<<"草原地图">>,
<<"沙漠地图">>,
<<"珊瑚项链">>,
<<"大日经">>,
<<"绿松石手串">>,
<<"掌柜扎仁">>,
<<"格桑">>,
<<"森格">>,
<<"队长巴桑">>,
<<"侍卫纳杰">>,
<<"侍卫桑丹">>,
<<"侍卫平措">>,
<<"班久次旺">>,
<<"大唐僧人悟净">>,
<<"东瀛僧人一宁">>,
<<"暹罗僧人古力特">>,
<<"莫哈默德">>,
<<"藏医梅尔扎西">>,
<<"天竺僧人那波">>,
<<"才旦白玛">>,
<<"小琼拉">>,
<<"通宝商铺老板">>,
<<"杂货铺老板">>,
<<"甲玛邮箱">>,
<<"仓库管理员">>,
<<"神行者法雷">>,
<<"帮会管理员">>,
<<"药品商人">>,
<<"宠物导师">>,
<<"饰品店老板">>,
<<"护具店老板">>,
<<"武器店老板">>,
<<"装备强化师">>,
<<"桑多次杰">>,
<<"队长班典">>,
<<"布琼">>,
<<"页拉法师">>,
<<"吞弥?桑布扎">>,
<<"昆泽扎西">>,
<<"多仁?贡布长老">>,
<<"强盗">>,
<<"凶残的强盗">>,
<<"乔?吉加">>,
<<"穆恩">>,
<<"密林强盗">>,
<<"锦鳞战士">>,
<<"密林野猪">>,
<<"密林野鹿">>,
<<"魔化山鸡">>,
<<"强盗头子吉拉">>,
<<"圣果树种子">>,
<<"青稞">>,
<<"丢失的货箱">>,
<<"野果">>,
<<"打酥茶筒">>,
<<"格尔班">>,
<<"多吉">>,
<<"农夫梅拉">>,
<<"游吟诗人纳桑">>,
<<"杂货店老板">>,
<<"厨师费谟">>,
<<"才旦卓玛">>,
<<"苏毗使者赤纬果">>,
<<"才旦卓玛的羊">>,
<<"天狗">>,
<<"天狗妖">>,
<<"茹杰梅朵">>,
<<"大巫师扎西勒仁">>,
<<"页拉法师">>,
<<"纳木错女神">>,
<<"杂货商奥玛">>,
<<"铸造师">>,
<<"雪豹">>,
<<"青面兽">>,
<<"赤莺精">>,
<<"灵犀">>,
<<"雪山藏獒">>,
<<"山猴">>,
<<"雪山猕猴">>,
<<"雪莲妖花">>,
<<"光明之神">>,
<<"白蚺">>,
<<"杀人蜂">>,
<<"藤树精">>,
<<"白蚺头目">>,
<<"杀人蜂头目">>,
<<"藤树精头目">>,
<<"剑灵">>,
<<"神秘的石砖">>,
<<"山魈">>,
<<"圣洁的湖水">>,
<<"路标一">>,
<<"路标二">>,
<<"路标三">>,
<<"贝措">>,
<<"昆?普姆江央">>,
<<"三台花">>,
<<"象雄细作">>,
<<"盐贼">>,
<<"盐贼头子莫赤坚">>,
<<"拦路强盗">>,
<<"盐湖马贼">>,
<<"一袋子晶盐">>,
<<"恶棍">>,
<<"恶霸独眼狼">>,
<<"野鹿首领扎仁">>,
<<"野鹿">>,
<<"野牛首领哈吉">>,
<<"野牛">>,
<<"青狼巴图">>,
<<"擎川恶狼">>,
<<"食金兽">>,
<<"银雀精">>,
<<"云丹多吉">>,
<<"野驴首领平措德">>,
<<"尼玛">>,
<<"野羊首领梅吉">>,
<<"野驴">>,
<<"野羊">>,
<<"绿林恶狼">>,
<<"犀角兽">>,
<<"铁羽兽">>,
<<"松妖">>,
<<"紫貂">>,
<<"黑曜紫貂">>,
<<"黑曜紫貂王">>,
<<"象雄武士">>,
<<"象雄使者拉布杰">>,
<<"采煤人萨班">>,
<<"智者米拉热旺">>,
<<"药店老板">>,
<<"服饰店老板">>,
<<"武器店老板">>,
<<"豸虫青王">>,
<<"千年树妖">>,
<<"龙獒">>,
<<"格鲁">>,
<<"萨弗熔">>,
<<"蓝龙皇">>,
<<"地魔">>,
<<"天魔">>,
<<"95级挂机怪">>,
<<"药品商人">>,
<<"甲玛马夫">>,
<<"桑多马夫">>,
<<"曲布马夫">>,
<<"绿林马夫">>,
<<"15级密修传送员">>,
<<"25级密修传送员">>,
<<"35级密修传送员">>,
<<"45级密修传送员">>,
<<"55级密修传送员">>,
<<"65级密修传送员">>,
<<"75级密修传送员">>,
<<"85级密修传送员">>,
<<"妖灵犬">>,
<<"百年妖灵犬">>,
<<"千年妖灵犬">>,
<<"犬妖皇">>,
<<"极玄圣师">>,
<<"布雷萨">>,
<<"布多萨">>,
<<"蟹精">>,
<<"蚌精">>,
<<"海蚺精">>,
<<"海妖 ">>,
<<"海龙挝艮">>,
<<"血菩提">>,
<<"上古符箓">>,
<<"凤翔图">>,
<<"熔岩兽">>,
<<"阿济格">>,
<<"羌族酋长">>,
<<"羌族勇士">>,
<<"羌族士兵">>,
<<"羌族酋长之子">>,
<<"巴尔桑精兵">>,
<<"精兵头目">>,
<<"大统领格森">>,
<<"青稞">>,
<<"狼魔">>,
<<"青魔">>,
<<"布雷萨">>,
<<"封印">>,
<<"布雷萨">>,
<<"嗜血魔">>,
<<"魅影魔">>,
<<"元素魔">>,
<<"大统领塔?格诺">>,
<<"嗜血狂魔">>,
<<"魅影狂魔">>,
<<"元素狂魔">>,
<<"魔族将军">>,
<<"血海魔君">>,
<<"炎魔萨弗远">>,
<<"炎神萨弗旦">>,
<<"炎圣萨弗脍">>,
<<"炎佛萨弗勒">>,
<<"炎魔萨多福">>,
<<"炎神萨多禄">>,
<<"炎圣萨多寿">>,
<<"炎佛萨多康">>,
<<"炎魔萨非雷">>,
<<"炎神萨非雨">>,
<<"炎圣萨非云">>,
<<"炎佛萨非风">>,
<<"炎魔萨古隆">>,
<<"炎神萨古魂">>,
<<"炎圣萨古阴">>,
<<"炎佛萨古灵">>,
<<"奔野鹿">>,
<<"隐影鹿">>,
<<"残风鹿">>,
<<"唤金鹿">>,
<<"狼妖">>,
<<"狼魔">>,
<<"狼神">>,
<<"狼佛">>,
<<"酒馆老板">>,
<<"群雄逐鹿榜">>,
<<"VIP接待员">>,
<<"地宫守护僧">>,
<<"昆泽扎西">>,
<<"松赞干布（王子）">>,
<<"松赞干布（赞普）">>,
<<"神秘商人">>,
<<"卓格森玛">>,
<<"汗血宝马">>,
<<"巨角鹿">>,
<<"牦牛">>,
<<"鬼獒">>,
<<"叛军先锋扎摩">>,
<<"叛军前军">>,
<<"叛军辎重队">>,
<<"叛军精锐">>,
<<"叛军大帅达恭">>,
<<"宫廷侍卫达玛">>,
<<"塔雷">>,
<<"梅桑多兰">>,
<<"多隆王">>,
<<"多隆护卫军">>,
<<"多隆禁卫军">>,
<<"禁军大统领">>,
<<"中土的画像">>,
<<"菲特">>,
<<"药师诺德伦颂">>,
<<"蛮人族老">>,
<<"镇长朗德多吉">>,
<<"斑纹猛虎">>,
<<"虎皇">>,
<<"蛮人精锐">>,
<<"蛮人勇士">>,
<<"万年树妖">>,
<<"七星草">>,
<<"装备强化师">>,
<<"药品商人">>,
<<"仓库管理员">>,
<<"拉萨邮箱">>,
<<"VIP接待员">>,
<<"宠物领养师">>,
<<"帮会管理员">>,
<<"群雄逐鹿榜">>,
<<"娘?芒布尚囊">>,
<<"琼保?邦色苏孜">>,
<<"噶尔?东赞与宋">>,
<<"王城禁军">>,
<<"拉萨马夫">>,
<<"银庄老板">>,
<<"密宗僧人">>,
<<"密宗僧人">>,
<<"卫兵">>,
<<"卫兵">>,
<<"卫兵">>,
<<"卫兵">>,
<<"贵族人员">>,
<<"巡逻卫兵">>,
<<"朝拜者">>,
<<"酒保">>,
<<"饰品店老板">>,
<<"护具店老板">>,
<<"武器店老板">>,
<<"杂货店老板">>,
<<"药品商人">>,
<<"多宁?渡厄（1号位）">>,
<<"多宁?格奥（2号位）">>,
<<"多宁?雷渊（3号位）">>,
<<"多宁?怒风（4号位）">>,
<<"多宁?瀚法（5号位）">>,
<<"战帝雷戈尔巴">>,
<<"受伤的哨兵">>,
<<"狂暴蛮人">>,
<<"蛮王">>,
<<"硬皮山猪">>,
<<"野蛮箭客">>,
<<"强壮野鹿">>,
<<"荒原射手">>,
<<"铁甲赤兽">>,
<<"大刀王六">>,
<<"灵犀一角">>,
<<"无影刀客">>,
<<"青面神兽">>,
<<"莽撞巨人">>,
<<"银翼精">>,
<<"赤翼精">>,
<<"人形貂神">>,
<<"多臂藤树">>,
<<"变异妖花">>,
<<"雪原神猴">>,
<<"嗜血枭兽">>,
<<"巨魔">>,
<<"羊神">>,
<<"血腥山豹">>,
<<"无影毒蜂">>,
<<"翼首海妖">>,
<<"大刀鱼精">>,
<<"金鸡独立">>,
<<"青藤精">>,
<<"杀人巨蜂">>,
<<"人羊兽">>,
<<"妖狼">>,
<<"灵狼">>,
<<"魔狼">>,
<<"神狼">>,
<<"雪域郊狼">>,
<<"青王兽">>,
<<"巨角狂牛">>,
<<"雪域幻狼">>,
<<"狂野神弓手">>,
<<"守神兽女">>,
<<"祭坛守灵">>,
<<"焦藤怪">>,
<<"魔化狼妖">>,
<<"铁甲虾妖">>,
<<"极地雪豹">>,
<<"铁皮马">>,
<<"雪山灵獒">>,
<<"守护之灵">>,
<<"硬皮野猪">>,
<<"流氓箭客">>,
<<"幻影刀侠">>,
<<"坚甲狂兽">>,
<<"狂人射手">>,
<<"大刀王六">>,
<<"灵犀一怒">>,
<<"中原刀客">>,
<<"长尾神貂">>,
<<"莽撞狂人">>,
<<"银翼妖精">>,
<<"赤翼妖精">>,
<<"守护神剑">>,
<<"四臂藤树精">>,
<<"变异花神">>,
<<"雪原猕猴">>,
<<"贪血枭兽">>,
<<"神域幻兽">>,
<<"羊妖">>,
<<"嗜血山豹">>,
<<"残影毒蜂">>,
<<"翼首海兽">>,
<<"长刀鱼精">>,
<<"鹤立鸡">>,
<<"青藤妖精">>,
<<"残暴魔君">>,
<<"铁皮妖犀">>,
<<"狂妖狼">>,
<<"狂灵狼">>,
<<"狂魔狼">>,
<<"狂神狼">>,
<<"神域郊狼">>,
<<"天涯山豹">>,
<<"长角猛牛">>,
<<"魔域幻狼">>,
<<"金发刀神">>,
<<"守神妖女">>,
<<"祭坛亡灵">>,
<<"神龙">>,
<<"神化狼妖">>,
<<"铁板虾妖">>,
<<"雪域残豹">>,
<<"密境灵獒">>,
<<"铜皮马">>,
<<"长角兽">>,
<<"野蛮箭神">>,
<<"硬皮猪猪">>,
<<"强壮鹿鹿">>,
<<"荒原神射手">>,
<<"大刀王七">>,
<<"韧甲赤兽">>,
<<"横行霸妖">>,
<<"灵犀一点红">>,
<<"雷神魔貂">>,
<<"狂躁巨人">>,
<<"银翼神">>,
<<"赤翼神">>,
<<"貂神">>,
<<"多臂藤树怪">>,
<<"突变妖花">>,
<<"雪原妖猴">>,
<<"饮血枭兽">>,
<<"密境妖怪">>,
<<"羊魔">>,
<<"天巨魔">>,
<<"幻影巨蜂">>,
<<"翼妖">>,
<<"大刀精">>,
<<"金鸡">>,
<<"杀人蜂">>,
<<"藤精">>,
<<"硬皮犀">>,
<<"妖狼王">>,
<<"灵狼王">>,
<<"魔狼王">>,
<<"神狼王">>,
<<"郊狼">>,
<<"青王巨兽">>,
<<"狂牛">>,
<<"幻狼">>,
<<"金发妖">>,
<<"人羊巨兽">>,
<<"祭坛守灵">>,
<<"神狼王">>,
<<"狼妖">>,
<<"虾妖">>,
<<"极地豹">>,
<<"雪山獒">>,
<<"铁皮马">>,
<<"巨角兽">>,
<<"箭客">>,
<<"猪猪">>,
<<"鹿鹿">>,
<<"神射手">>,
<<"大刀王八">>,
<<"甲兽">>,
<<"无影">>,
<<"灵犀">>,
<<"狂神射手">>,
<<"莽撞巨人">>,
<<"银翼精">>,
<<"赤翼精">>,
<<"人形貂神">>,
<<"多臂藤树">>,
<<"变异妖花">>,
<<"雪原神猴">>,
<<"嗜血枭兽">>,
<<"密境幻兽">>,
<<"羊神">>,
<<"血腥山豹">>,
<<"无影毒蜂">>,
<<"翼首海妖">>,
<<"大刀鱼精">>,
<<"金鸡独立">>,
<<"杀人巨蜂">>,
<<"守护神">>,
<<"硬皮山犀">>,
<<"妖狼">>,
<<"灵狼">>,
<<"魔狼">>,
<<"神狼">>,
<<"雪域郊狼">>,
<<"青王兽">>,
<<"巨角狂牛">>,
<<"雪域幻狼">>,
<<"刀妖">>,
<<"守神兽女">>,
<<"祭坛守灵">>,
<<"神龙斗士">>,
<<"魔化狼妖">>,
<<"铁甲虾妖">>,
<<"极地雪豹">>,
<<"神剑">>,
<<"铁马">>,
<<"角兽">>,
<<"神箭客">>,
<<"神猪猪">>,
<<"野鹿鹿">>,
<<"荒原弓手">>,
<<"大刀王">>,
<<"赤兽">>,
<<"刀神">>,
<<"灵犀">>,
<<"魔貂">>,
<<"巨人">>,
<<"银精">>,
<<"赤精">>,
<<"貂神">>,
<<"藤树妖">>,
<<"霸兽">>,
<<"神猴">>,
<<"枭兽">>,
<<"幻兽">>,
<<"羊神主">>,
<<"血豹">>,
<<"毒蜂">>,
<<"海妖">>,
<<"鱼精">>,
<<"金鸡王">>,
<<"神巨蜂">>,
<<"青藤残绕怪">>,
<<"山犀">>,
<<"妖狼皇">>,
<<"灵狼皇">>,
<<"魔狼皇">>,
<<"神狼皇">>,
<<"郊狼皇">>,
<<"青王">>,
<<"狂牛">>,
<<"天狼">>,
<<"金发刀魔">>,
<<"兽女">>,
<<"守灵">>,
<<"密境幻兽">>,
<<"魔化狼">>,
<<"铁甲虾">>,
<<"极地豹王">>,
<<"雪山灵獒王">>,
<<"铁皮巨马">>,
<<"巨奔兽">>,
<<"狂野箭客">>,
<<"猪神妖">>,
<<"湿鹿鹿">>,
<<"荒原人士">>,
<<"神刀王">>,
<<"铁赤兽">>,
<<"无影客">>,
<<"灵犀一角兽">>,
<<"电尾貂">>,
<<"莽撞人">>,
<<"翼精">>,
<<"巨魔之王">>,
<<"貂妖">>,
<<"藤妖">>,
<<"花妖">>,
<<"猴妖">>,
<<"血兽">>,
<<"密境兽">>,
<<"羊妖">>,
<<"豹妖">>,
<<"蜂妖">>,
<<"海妖">>,
<<"鱼妖">>,
<<"鸡妖">>,
<<"巨蜂妖">>,
<<"青藤妖">>,
<<"山犀妖">>,
<<"狼妖">>,
<<"狼灵">>,
<<"狼魔">>,
<<"狼神">>,
<<"蛟狼">>,
<<"霸王兽">>,
<<"狂牛">>,
<<"雪狼">>,
<<"金妖">>,
<<"神女">>,
<<"坛灵">>,
<<"魔貂">>,
<<"魔化狼">>,
<<"铁甲妖">>,
<<"极豹">>,
<<"天山灵獒">>,
<<"天马">>,
<<"流星兽">>,
<<"天涯箭客">>,
<<"硬皮猪妖">>,
<<"不死野鹿">>,
<<"荒射手">>,
<<"大刀王一">>,
<<"铁甲兽妖">>,
<<"无影刀魔">>,
<<"灵犀兽">>,
<<"人羊魔">>,
<<"莽夫">>,
<<"大银翼精">>,
<<"大赤翼精">>,
<<"貂神之王">>,
<<"藤树之王">>,
<<"妖花之王">>,
<<"神猴之王">>,
<<"枭兽之王">>,
<<"幻兽之王">>,
<<"羊神之王">>,
<<"妖豹之王">>,
<<"毒蜂之王">>,
<<"海妖之王">>,
<<"鱼精之王">>,
<<"金鸡之王">>,
<<"巨蜂之王">>,
<<"青藤之王">>,
<<"之王山犀">>,
<<"妖狼祖">>,
<<"灵狼祖">>,
<<"金发刀妖王">>,
<<"Vip">>,
<<"VIP">>
].