[
{1,<<"三百">>},
{2,<<"四百">>},
{3,<<"五百">>},
{4,<<"六百">>},
{5,<<"七百">>},
{6,<<"八百">>},
{7,<<"九百斩">>},
{8,<<"升职">>},
{9,<<"降职">>},
{10,<<"加入">>},
{11,<<"离开">>},
{12,<<"帮主">>},
{13,<<"长老">>},
{14,<<"帮众">>},
{15,<<"帮闲">>},
{16,<<"帮会">>},
{17,<<"百宝阁">>},
{18,<<"帮会商城">>},
{19,<<"帮会系统提醒">>},
{20,<<"帮会系统">>},
{21,<<"您所在的帮会在线人数已连续~p天少于~p人，请尽快招募新人；\n若持续~p天帮会在线人数少于~p人，则帮会被强制解散。\n\t【~p年~p月~p日】">>},
{22,<<"被逐出">>},
{23,<<"副帮主">>},
{24,<<"铁匠铺">>},
{30,<<"帮会夺旗战场奖励">>},
{31,<<"战场系统">>},
{32,<<"\t\t您在帮会夺旗战中的表现十分出色，获得了“战场礼盒”奖励\n\t\t您还未领取物品奖励，请点击收取按钮收取您的奖励。">>},
{33,<<"红方">>},
{34,<<"蓝方">>},
{35,<<"晶石争夺战奖励">>},
{36,<<"\t\t您在晶石争夺战中的表现十分出色，获得了“战场礼盒”奖励\n\t\t您还未领取物品奖励，请点击收取按钮收取您的奖励。">>},
{40,<<"物品售出">>},
{41,<<"在您的摊位上购买了">>},
{42,<<"\n本次交易收入为：">>},
{43,<<"\n请点击\"收取\"领取本次交易所得.\n请不要回复此邮件.">>},
{44,<<"摊位已过期">>},
{45,<<"您的摊位在二十四小时之内已没有任何操作,摊位已撤销,所有物品返还,请及时收取物品.">>},
{46,<<"购买了">>},
{50,<<"金">>},
{51,<<"银">>},
{52,<<"铜">>},
{53,<<"元宝">>},
{54,<<"礼券">>},
{55,<<"年">>},
{56,<<"月">>},
{57,<<"日">>},
{58,<<"天">>},
{59,<<"小时">>},
{60,<<"时">>},
{61,<<"分">>},
{62,<<"秒">>},
{63,<<"系统">>},
{64,<<"连续登陆奖励">>},
{65,<<"VIP连续登陆奖励">>},
{66,<<"您的[第~p天]连续登陆奖励未领取，请查收">>},
{67,<<"您的[第~p天]VIP连续登陆奖励未领取，请查收">>},
{68,<<"满千返千活动已结束">>},
{69,<<"满千返千活动已结束，多谢您对本游戏的支持！请在此邮件的附件中收取返还的礼券。">>},
{70,<<"的摊位">>},
{71,<<"钱币">>},
{72,<<"绑定钱币">>},
{80,<<"坐骑">>},
{81,<<"\t亲爱的玩家，坐骑系统伴随宠物系统全面更新，开放最新鉴定及合成功能，稀有坐骑将不再是梦想。坐骑将成为装备可直接装备在人物身上。现将坐骑转化成功返还给您，请留意查收。
\n\t\t雪域研发团队感谢您的关注">>},
{82,<<"绿色">>},
{83,<<"蓝色">>},
{84,<<"紫色">>},
{85,<<"金色">>},
{86,<<"一">>},
{87,<<"二">>},
{88,<<"三">>},
{89,<<"四">>},
{90,<<"五">>},
{91,<<"改版坐骑系统补偿">>},
{92,<<"\t亲爱的玩家，因为我们改版坐骑系统，新的坐骑将以装备形式直接可以装备到玩家身上方便玩家作战，增加了新的鉴定和合成功能，并且开放了打孔和镶嵌功能。所以坐骑进行了相应的转化。\n\t现在补偿如下\n\t\t对于拥有吞天魔狮和三尾灵狐的玩家将给予1只金色品质坐骑+4个坐骑合成石\n\t\t其他玩家给予4坐骑合成石+10个坐骑鉴定石。\n\n\t\t飘渺雪域研发团队感谢您对游戏的支持。">>},
{93,<<"飘渺雪域周年庆典大回馈">>},
{94,<<"\t飘渺雪域周年庆，感恩大回馈！您每消费250元宝，都可获得消费返还礼盒，打开后更有惊喜！通过炼制系统可获得更高级的礼盒！欢乐消费，惊喜无限！">>},
{95,<<"白色镖车">>},
{96,<<"绿色镖车">>},
{97,<<"蓝色镖车">>},
{98,<<"紫色镖车">>},
{99,<<"金色镖车">>},
{100,<<"国王争霸赛参赛资格">>},
{101,<<"尊敬的~s:\n\t\t我们很荣幸的通知您，由于您的帮会【~s】实力强大，世所敬仰，获得本次国王争霸赛的参赛资格。请您于今天国王战开始前点击屏幕右上角报名按钮进行报名，国王争霸赛将决定下一届王位的归属。\n\t\t\t国王侍者\n\t\t\t~p年~p月~p日\n">>},
{102,<<"国王侍者">>},
{103,<<"国王【~s】">>},
{104,<<"国王">>},
{105,<<"将军">>},
{106,<<"卫队">>},
{107,<<"本次伤害~p，攻击强劲，气力十足！">>},
{110,<<"本次弹劾失败，其他玩家可继续进行弹劾。">>},
{111,<<"\t经过24小时的投票大选，玩家~s的豪情壮志似乎无法打动帮会中各位成员，以失败告终，请其他有志带领帮会发展的玩家可以继续进行弹劾。">>},
{112,<<"恭喜玩家~s成为帮主！">>},
{113,<<"\t经过24小时的投票大选，玩家~s激情四溢的演说打动了帮会中大部分成员，众望所归，帮主之位非他莫属！">>},
{114,<<"帮会改名通知">>},
{115,<<"亲爱的玩家，您好：\n\t\t您所在的帮会名称已由~s成功更改为~s。祝您游戏愉快！请不要回复此邮件。">>},
{116,<<"充值送礼奖励">>},
{117,<<"敬爱的玩家，感谢您参与充值送礼活动。现活动已经结束，附件中是您未领取的奖励，请注意查收。">>},
{128,<<"国王战奖励">>},
{129,<<"您的帮会在国王争夺战中的表现非常出色，捍卫了国王的尊严和地位，特此奖励，请查收附件。">>},
{300,<<"系统补偿">>},
{301,<<"\t升星失败补偿：<<~s>>x~p~n">>},
{302,<<"【">>},
{303,<<"】">>},
{304,<<"活跃度奖励">>},
{305,<<"尊敬的玩家，由于您上次登录未领取活跃度奖励，系统给您发送，请以后注意领取，并关注活动面板中的活跃度。">>},
{306,<<"国王争夺战奖励">>},
{307,<<"恭喜您所带领的帮会【~s】实力强大，所向披靡，获得本次国王争夺战的胜利。这是本次国王争夺战国王所获得的奖励。希望您能带领您的帮会再创辉煌！">>},
{308,<<"群雄逐鹿战场奖励">>},
{309,<<"\t\t您在群雄逐鹿战场中的表现十分出色，获得了“战场礼包”奖励\n\t\t您还未领取物品奖励，请点击收取按钮收取您的奖励。">>},
{310,<<"物品下架">>},
{311,<<"您下架的物品已收到到">>},
{312,<<"收到摆摊物品">>},
{313,<<"您在摆摊中购买的物品已收到">>},
{314,<<"您在开服活动结束时，战力排行第【~s】名，以资鼓励！">>},
{315,<<"您在开服活动结束时，等级排行第【~s】名，以资鼓励！">>},
{316,<<"您在开服活动结束时，单人棋魂排行第【~s】名，以资鼓励！">>},
{317,<<"您在开服活动结束时，宠物战力排行第【~s】名，以资鼓励！">>}
].
